@model IEnumerable<CargoHubWeb.Models.Employee>
@using CargoHubWeb.Data;

@{
    ViewData["Title"] = "Disable Employees";
    Encrypt enc = new Encrypt();
}
<div style="height: 2vh;">@*Spacer*@</div>

<div id="div_Employees">
    <div id="div_Top">
        <h1>Employees</h1>
        <div style="width: 100%; text-align: left;">
            <a class="btn btn-primary" asp-action="Index">
                <i class="bi bi-arrow-left-circle"></i> &nbsp; Back
            </a>
        </div>
        <table id="table_Head">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>
                        Registered
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="div_Bottom">
        <table id="table_Body">
            <tbody>
                @foreach (var item in Model.Where(x => x.Role == "Disabled"))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td style="font-weight: bold;">
                            @if (item.Password != enc.EncryptString("???"))
                            {
                                <span style="color: #7289DA;">YES</span>
                            }
                            else
                            {
                                <span style="color: #DB133C;">NO</span>
                            }
                        </td>
                        <td style="padding: 0 !important; text-align: left;">
                            @Html.Hidden("EmpNumber", @item.Number)
                            <a class="btn btn-success" asp-action="Enable" asp-route-id="@item.Number">
                                <i class="bi bi-check-circle"></i> &nbsp; Enable
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
</div>


<style>
    #nav_Employees {
        color: #fff;
        background-color: #7289DA;
    }

    #div_Employees {
        width: 75% !important;
        height: 100%;
        margin: auto;
    }

    #div_Top {
    }

        #div_Top a.btn {
            vertical-align: top !important;
            float: left;
            margin: 1%;
            padding: 1% !important;
            font-weight: bold;
        }

    #table_Head {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        overflow: hidden;
    }

        #table_Head th {
            width: 20% !important;
            color: #fff;
            background-color: #7289DA;
            padding: 1%;
        }

    #div_Bottom {
        border-radius: 0px 0px 15px 15px;
        overflow: hidden;
        max-height: 55vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #table_Body {
        width: 100%;
    }

        #table_Body td {
            width: 20% !important;
            padding: 1%;
        }

        #table_Body tr:nth-child(even) {
            background-color: #282B30;
        }

        #table_Body tr:nth-child(odd) {
            background-color: #36393E;
        }
</style>
