@using CargoHubWeb.Data
@model CargoHubWeb.Models.Employee

@{
    ViewData["Title"] = "Edit";
    Encrypt enc = new Encrypt();
}

<div style="height: 2vh;">@*Spacer*@</div>
<div id="div_Edit">
    <h1>Edit: @Model.Name</h1>
    <form id="form_Back" method="get" asp-action="Index">
        <table style="width: 100%;">
            <tr>
                <td style="width: 60%;">
                    <a id="btn_Back" class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Number">
                        <i class="bi bi-arrow-left-circle"></i> &nbsp; Back
                    </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
    <form id="form_Edit" method="post" asp-action="Edit">
        <table id="table_Head">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Select a Role
                    </th>
                    <th>
                        Registered
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <table id="table_Body">
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelModel => Model.Number)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelModel => Model.Name, new {@class="form-control"})
                    </td>
                    <td>
                        <select class="form-control" asp-for="Role">
                            <option value="Admin">Admin</option>
                            <option value="Manager">Manager</option>
                            <option value="Driver">Driver</option>
                            <option value="Service Manager">Service Manager</option>
                            <option value="Timesheet Manager">Timesheet Manager</option>
                            <option value="Trip/Usage Manager">Trip/Usage Manager</option>
                        </select>
                    </td>
                    <td style="font-weight: bold;">
                        @if (Model.Password != enc.EncryptString("???"))
                        {
                            <span style="color: #7289DA;">YES</span>
                        }
                        else
                        {
                            <span style="color: #DB133C;">NO</span>
                        }
                    </td>
                    <td style="text-align: center">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-check-circle"></i> &nbsp; Save Changes
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <input asp-for="Number" hidden />
        <span asp-validation-for="Role" class="text-danger"></span>
    </form>
</div>

<style>
    #nav_Employees {
        color: #fff;
        background-color: #7289DA;
    }

    #form_Back {
        width: 100%;
    }

        #form_Back .form-control {
        }

        #form_Back button, #form_Back a {
            width: fit-content !important;
            height: fit-content !important;
        }

    #div_Edit {
        width: 75% !important;
        height: 100%;
        margin: auto;
    }

        #div_Edit #btn_Back {
            vertical-align: top !important;
            float: left;
            margin: 1%;
            padding: 1% !important;
            font-weight: bold;
        }

    #table_Head {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        overflow: hidden;
    }

        #table_Head th {
            width: 20% !important;
            color: #fff;
            background-color: #7289DA;
            padding: 1%;
        }

    #table_Body {
        width: 100%;
        border-radius: 0px 0px 15px 15px;
        overflow: hidden;
    }

        #table_Body td {
            width: 20% !important;
            padding: 1%;
        }

        #table_Body tr:nth-child(even) {
            background-color: #282B30;
        }

        #table_Body tr:nth-child(odd) {
            background-color: #36393E;
        }
</style>

