@model IEnumerable<CargoHubWeb.Models.Employee>
@using CargoHubWeb.Data;

@{
    ViewData["Title"] = "Index";
    Encrypt enc = new Encrypt();
}

<h1>Employees</h1>

<p>

</p>

<div style="width: 75% !important; margin: auto;">
    <a style="font-size: 20px !important;float: right; margin-right: 1%;" class="btn btn-primary" asp-action="Create">
        <i class="bi bi-person-plus-fill"></i> &nbsp; Add Employee
    </a>
    <br />
    <br />
    <br />
    <table class="col-xs-7 table-striped table-fixed">
        <thead>
            <tr>
                <th class="col">
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th class="col">
                    Registered
                </th>
                <th class="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col">
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td class="col">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="col">
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td class="col" style="font-weight: bold;">
                        @if (item.Password != enc.EncryptString("???"))
                        {
                            <span style="color: #375A7F;">YES</span>
                        }
                        else
                        {
                            <span style="color: #E74C3C;">NO</span>
                        }
                    </td>
                    <td class="col" style="padding: 0 !important;">
                        @*<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Number">
                    <i class="bi bi-pencil-square"></i> &nbsp; Edit
                    </a> &nbsp;*@
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Number">
                            <i class="bi bi-info-circle"></i> &nbsp; Details
                        </a> &nbsp;
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Number">
                            <i class="bi bi-trash-fill"></i> &nbsp; Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<style>
    .table-fixed {
        margin: auto;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
    }

        .table-fixed thead,
        .table-fixed thead > th {
            background: #375A7F;
            color: #fff;
        }

        .table-fixed tbody tr td {
        }

        .table-fixed tbody td,
        .table-fixed thead > tr > th {
            float: left;
            padding: 15px;
            height: 5vh;
        }

        .table-fixed .col {
            width: 20%;
        }

        .table-fixed tbody {
            display: block;
            height: 60vh;
            overflow-y: auto;
        }

            .table-fixed tbody tr:nth-child() {
                background-color: #222222;
            }

            .table-fixed tbody tr:nth-child(odd) {
                background-color: #333333;
            }

        .table-fixed tr {
            display: block;
            height: 5vh;
        }

        .table-fixed .btn {
            margin-top: 0.5vh;
            margin-bottom: 0.5vh;
            height: 4vh;
            line-height: 2.75vh;
        }

</style>
